.container-recipes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin: 40px 0;
}

.container-recipe {
  width: 30%;
  height: 434px;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(231, 250, 254, 1) 100%);
  cursor: pointer;
}

.container-recipe:hover {
  -webkit-box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.45);
}

.container-recipe-img {
  width: 90%;
  margin: 0 auto;
  height: 246px;
}

.container-text-recipe {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.container-best-info-title {
  font-size: 32px;
  text-align: center;
  margin: 24px auto;
}
