.container-blog-value {
  display: flex;
  cursor: pointer;
  width: 95%;
}
.container-blog-value:hover {
  -webkit-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
}

.container-blog-value-right {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 24px;
}

.container-blog-value-right-title {
  font-size: 24px;
  letter-spacing: -4%;
  font-weight: 700;
}

.container-blog-value-right-subtile {
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.container-blog-value-right-bottom {
  display: flex;
  align-items: center;
}
