.container-recipes-food {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.container-recipes-food-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container-recipes-food-top-info {
  display: flex;
  align-items: center;
  margin-left: 32px;
  gap: 10px;
  border-left: solid rgba(0, 0, 0, 0.2) 1px;
  padding-left: 10px;
  height: 50px;
}

.container-recipes-food-right {
  display: flex;
  margin: 24px;
  width: 50%;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-recipes-food-right-title {
  font-size: 32px;
  font-weight: 600;
}
